@model crosam.Models.Sow

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sow</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Linea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Linea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadColgado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadColgado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CuelgaType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CuelgaType.CuelgaTypeId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supplier.SupplierId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seeder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seeder.SeederID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Substratum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Substratum.SubstratumId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cuelga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cuelga.CuelgaId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seed.SeedId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BouyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BouyType.BouyTypeId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SowId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
