@model crosam.Models.Sow

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sow</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Linea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Linea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadColgado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadColgado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CuelgaType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CuelgaType.CuelgaTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supplier.SupplierId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seeder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seeder.SeederID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Substratum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Substratum.SubstratumId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cuelga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cuelga.CuelgaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seed.SeedId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BouyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BouyType.BouyTypeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SowId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
