@model crosam.Models.Cuelga

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cuelga</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CuelgaLenght)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CuelgaLenght)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CuelgaType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CuelgaType.CuelgaTypeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CuelgaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
