@model IEnumerable<crosam.Models.Seed>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SeedSize)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SeedSize)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SeedId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SeedId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SeedId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
