@model crosam.Models.Siembras

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Siembras</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NroGuia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NroGuia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recepcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recepcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorUnidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorUnidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GastoSemilla)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GastoSemilla)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GastoFlete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GastoFlete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supplier.SupplierId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicioFlete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicioFlete.ServicioFleteId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SiembraId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
